/**/

.title{font-size: 17px}
.list-item__title{
    font-size: 17px;
    font-weight: bold;
    }
.list-item__source{
    font-size: 12px;
    color: #838383;}
.list-item__text{
    font-size: 12px;
    }
.list-item__thumbnail{
    width: 80px;
    height:100px;
    border-radius: 0px}
.content{
    font-size: 15px;
    color: #000000;}
.list-item__date{
    font-size: 9px;
    color: #838383;
    }
.main-img{
    margin-top: 15px;}
.logo{
    margin: 15px;
    vertical-align: bottom;
    }